services:
  onedrive-clone:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    container_name: onedrive-clone-app
    volumes:
      - ./public/uploads:/app/public/uploads
