.browse-files-by {
  display: flex;
  flex-direction: column;
  width: 262px;
  margin-right: 4px;
  padding-bottom: 8px;
  color: rgb(173, 173, 173);
}

.browse-header {
  display: flex;
  position: relative;
  width: 246px;
  height: 36px;
  margin-left: 16px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI Web (West European)", -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.15s linear;
}

.browse-title {
  display: block;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browse-chevron {
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  color: rgb(173, 173, 173);
  transition: opacity 0.15s ease;
}

.browse-chevron svg {
  width: 12px;
  height: 12px;
}

.browse-items-container {
  display: grid;
  width: 262px;
  grid-template-rows: 36px;
  transition: grid-template-rows 0.2s cubic-bezier(0.8, 0, 0.1, 1);
}

.browse-items {
  display: block;
  width: 262px;
  height: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.browse-item {
  position: relative;
  display: block;
  width: 262px;
  height: 36px;
}

.browse-link-wrapper {
  display: block;
  position: relative;
  width: 262px;
  height: 36px;
  cursor: pointer;
}

.browse-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 16px;
  top: 10px;
  left: 0px;
  margin-left: 0;
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 0.15s linear;
  z-index: 1;
}

.browse-item-active::before {
  background-color: rgb(71, 158, 245);
}

.browse-item:hover:not(.browse-item-active)::before {
  background-color: rgb(138, 138, 138);
}

.browse-link {
  display: flex;
  position: relative;
  width: 246px;
  height: 36px;
  margin-left: 16px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 8px;
  color: rgb(214, 214, 214);
  font-family: "Segoe UI Web (West European)", -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.15s linear;
}

.browse-item:hover:not(.browse-item-active) .browse-link {
  background-color: rgb(0, 0, 0);
}

.browse-item-active .browse-link {
  background-color: transparent;
}

.browse-item-active .browse-link:hover {
  background-color: transparent;
}

.browse-link-content {
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.browse-icon-wrapper {
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: rgb(214, 214, 214);
  font-size: 20px;
}

.browse-item-active .browse-icon-wrapper {
  color: rgb(71, 158, 245);
}

.browse-text-wrapper {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  overflow: hidden;
}

.browse-text {
  display: block;
  padding-right: 8px;
  font-size: 14px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(214, 214, 214);
  transition: opacity 0.4s cubic-bezier(0.33, 0, 0.1, 1);
}
